<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <title>My HTML App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="css/app.css" charset="utf-8">
</head>
<body ng-controller="customerListControl">
  <div class="container-fluid">
    <div class="container">
      <h1>Customers</h1>
      <div class="row">
        <div class="col-sm-7">
          <div class="navbar">
            <ul class="nav navbar-nav">
              <li ng-click="changeView($event)"><a id="grid"><span class="glyphicon glyphicon-th-large"></span> Grid View</a></li>
              <li ng-click="changeView($event)"><a id="list"><span class="glyphicon glyphicon-th-list"></span> List View</a></li>
              <li ng-click="showModal()"><a><span class="glyphicon glyphicon-plus"></span> Add Customer</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-5 width_adjust">
          <div class="form-inline">
            <div class="form-group navbar-right">
              <label for="filter" class="form-control-label">Filter :</label> <input type='text' class='form-control' id="filterText" ng-model="filterbox">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" ng-repeat="customer in customers.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter : filterbox">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="label">{{customer.firstName+' '+customer.lastName}}</span>
              <button class="close" ng-click="deleteRecord(customer.id)">&times;</button>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6">
                  <img class="profile_img" src="img/{{customer.imageUrl}}" alt="{{customer.imageUrl}}" />
                </div>
                <div class="col-xs-6">
                  <p>{{customer.city}}, {{customer.state}}</p>
                  <p class="light-blue-text">{{customer.numberOfOrders}} Orders</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
         <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
  <script src="js/ui-bootstrap-tpls-2.1.4.min.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
</body>
</html>
